@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap");
* {
  box-sizing: border-box; }

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow-y: hidden;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='2500' height='1000' preserveAspectRatio='none' viewBox='0 0 2500 1000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1037%26quot%3b)' fill='none'%3e%3crect width='2500' height='1000' x='0' y='0' fill='rgba(43%2c 55%2c 58%2c 1)'%3e%3c/rect%3e%3cpath d='M1997.81-12.82C1732.87 36.52 1621.48 694.73 1192.7 704 763.92 713.27 790.14 579 387.59 579-14.97 579-213.83 703.63-417.52 704' stroke='rgba(213%2c 1%2c 131%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1279.58-39.79C1134.41-32.31 1188.82 207.57 761.59 224.39 334.36 241.21 7.82 664.81-274.39 674.39' stroke='rgba(213%2c 1%2c 131%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1810.9-48.66C1453.56 25.55 1310.22 940.79 747.24 951.25 184.26 961.71-42.68 693.13-316.42 691.25' stroke='rgba(213%2c 1%2c 131%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1508.29-105.48C1329.47-57.57 1452.9 394.82 1003.78 436.59 554.67 478.36 269.8 867.16-5.23 876.59' stroke='rgba(213%2c 1%2c 131%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1957.29-115.62C1684.96-58.28 1583.45 638.14 1148.84 649.65 714.22 661.16 744.61 524.65 340.38 524.65-63.84 524.65-263.56 649.28-468.07 649.65' stroke='rgba(213%2c 1%2c 131%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1037'%3e%3crect width='2500' height='1000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e"); }
  @media screen and (max-width: 790px) {
    body {
      flex-direction: column;
      justify-content: space-around;
      height: auto;
      overflow-x: hidden;
      overflow-y: auto; } }
  body .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 83.75rem; }
    body .container .app {
      position: relative;
      width: 21.875rem;
      height: 43.75rem;
      background-color: #fff;
      border-radius: 4rem;
      padding: 1.875rem;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08), 0 8px 16px rgba(0, 0, 0, 0.08); }
      body .container .app:first-child {
        background: #e6007e; }
        body .container .app:first-child img {
          max-width: 16rem;
          display: block;
          margin: auto; }
      body .container .app:last-child {
        background: #e6007e;
        display: none; }
        body .container .app:last-child img {
          max-width: 16rem;
          display: block;
          margin: auto; }
        body .container .app:last-child input[type="text"] {
          border: none;
          width: 15.625rem;
          height: 1.875rem;
          font-family: 'Raleway', sans-serif;
          font-size: 1.3rem;
          font-weight: 600;
          color: #fff;
          text-align: center;
          background-color: rgba(255, 255, 255, 0);
          display: block;
          margin: auto; }
          body .container .app:last-child input[type="text"]::placeholder {
            color: #e5aecb;
            opacity: 1; }
          body .container .app:last-child input[type="text"]:focus {
            outline: none; }
        body .container .app:last-child .courses {
          display: flex;
          flex-wrap: wrap; }
          body .container .app:last-child .courses .course {
            background-color: #fff;
            font-family: 'Raleway', sans-serif;
            font-weight: 600;
            border-radius: 1rem;
            padding: 1rem;
            height: fit-content; }
            body .container .app:last-child .courses .course img {
              max-width: 4rem; }
          body .container .app:last-child .courses .html {
            width: 8rem; }
          body .container .app:last-child .courses .react {
            width: 8rem;
            margin-left: 1rem; }
          body .container .app:last-child .courses .angular {
            width: 17rem;
            margin-top: 1rem; }
      body .container .app .white {
        position: absolute;
        left: 0;
        width: 21.875rem;
        height: 34.375rem;
        background-color: #fff;
        border-radius: 4rem 0 4rem 0;
        padding: 0 2.5rem 0 2.5rem; }
        body .container .app .white #start {
          position: relative;
          width: 3.5rem;
          height: 3.5rem;
          border-radius: 50%;
          float: right;
          border: none;
          background: #000;
          color: #fff;
          font-family: 'Raleway', sans-serif;
          font-weight: 600;
          transition: background 1s;
          cursor: pointer; }
          body .container .app .white #start:focus {
            outline: none; }
          body .container .app .white #start:hover {
            background: #e6007e; }
        body .container .app .white h1 {
          font-family: 'Raleway', sans-serif;
          font-size: 2.7rem;
          font-weight: 600;
          margin-bottom: 2rem; }
      body .container .app h2 {
        font-family: 'Raleway', sans-serif;
        font-size: 1.1rem;
        color: #fff; }
      body .container .app .user-icons {
        position: absolute;
        bottom: 1rem;
        display: flex;
        width: 18.75rem; }
        body .container .app .user-icons .icons {
          width: 2rem;
          z-index: 1; }
      body .container .app #myUL {
        margin: 0.625rem 0 1rem 0;
        padding-left: 0;
        border-top: 1px solid rgba(255, 255, 255, 0.3); }
        body .container .app #myUL li {
          list-style-type: none; }
          body .container .app #myUL li a {
            display: none;
            background: #2b373a;
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);
            font-family: 'Raleway', sans-serif;
            color: #fff;
            text-align: center;
            padding: 0.3rem;
            text-decoration: none; }
